.scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 99;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .scroll-to-top-button.visible {
    display: block;
  }
  
  .scroll-to-top-button i {
    line-height: 50px;
    display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  }
  
  .scroll-to-top-button:hover {
    background-color: #0056b3;
  }
  