.form {
  width: 400px;
  height: 440px;
  background: #f2efef;
  border-radius: 20px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #70707e;
  border-bottom: 3px solid #78788c;
}
.form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

.form input:focus {
  border-bottom: 2px solid #78788c;
}
.form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #5334ef;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.form button:hover {
  background: #5334ef;
  color: #fff;
}
.form div {
  content: "Hi";
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: var(--primary-color);
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
.form span {
  margin: 0 5px 0 15px;
}
