.hero_wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.hero_content .section_title{
    font-size: 3rem;
    padding-right: 60px;
    line-height: 60px;
    margin-bottom: 20px;
}

.highlights{
    color: var(--primary-color);
}

.hero_content h2 {
    font-size: 2.0rem;
    margin-bottom: 1rem;

}

.hero_content p {
    font-size: 1.1rem;
    color: var(--heading-color);
    margin-bottom: 50px;
    line-height: 30px;
}

.hero_btns {
    display:flex;
    align-items: center;
    column-gap: 2rem;
}
.watch_btn{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--heading-color);
    font-size: 1rem;
    font-weight: 600;
    cursor:pointer;
    background-color: #fff;
}

.watch_btn span {
    background :#fff;
    border-radius: 50%;
    padding: 0.8rem;
    color: var(--primary-color);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:3px 3px 8px -1px #d3cef2 ;
}
.box-01{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 25px solid rgba(141, 141, 235, 1);
}
.box-02{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    border: 25px solid #b5a9f3;
}
.box-03{
    width: 300px;
    height: 300px;
    border-radius: 100%;

    border: 25px solid #d3cef2;
}
.hero_img-wrapper{
    position: relative;
    z-index: 1;
}
.box_img{
    position:absolute ;
    top: -12%;
    left: -13%;
    z-index: 10;
}

.box_img{
    width:121.5%;
}
.heart_rate{
    width: 100px;
    position: absolute;
    top: 60%;
    left: -10%;
    z-index: 10;
    box-shadow: -3px 3px 8px -1px #d3cef2;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    padding: 15px 10px;
}
.heart_rate span{
    width: 30px;
    height: 25px;   
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#d3cef2;
    color: #d7337a;
    border-radius: 3px;
    padding:3px ;

}
.heart_rate h5,h6 {
    font-size: 0.8rem;
    color: var(--heading-color);
    font-weight: 600;
}
.heart_rate h5{
    margin-bottom: 10px;
}
.heart_rate h6{
    margin-top:  10px;
}
.gym_location {
    position: absolute;
    top: -2%;
    right: -17%;
    z-index: 10;
    box-shadow: -3px 3px 8px -1px #d3cef2;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    padding: 1.2rem;
}
.gym_location span{
    width: 50px;
    height: 50px;   
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--primary-color);
    color: #fff;
    border-radius: 50%;
    font-size: 1.5rem;

}
.gym_location h5{
    color: var(--primary-color);
    margin-top: 1rem;
    font-size: 0.9rem;
}
.dumble_icon{
    position: absolute;
    top: -2%;
    left: -5%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #d7337a;
    color: #fff;
    border-radius: 5px;
    padding: 15px 10px;
}

.dumble_icon img{
    width: 100%;
}