/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --primary-color: #6f55f2;
  --heading-color: #132742;
  --bg-gradient: linear-gradient(
    90deg,
    rgba(103, 101, 240, 1) 27%,
    rgba(141, 141, 235, 1) 85%
  );
  --font-name: "Questrial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Styles for light mode */
.light-mode-app {
  background-color: #f7f7f7;
  color: #333;
}

/* Styles for dark mode */
.dark-mode-app {
  background-color:#111;
   color:#f7f7f7
}

@media (max-width: 768px) {
  .dark-mode-app,
  .light-mode-app {
    overflow-x: hidden;
  }
}



/* Common styles for both modes */
/* ... */

